# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
amr_env/

# App runtime folders
uploads/
results/
test_data/

# CARD/RGI database files
card_database/
*.tar.bz2
*.json

# Large bioinformatics files
*.fasta
*.fa
*.fna
*.faa
*.fastq
*.fq
*.gbff
*.gff
*.sam
*.bam
*.blast
*.xml

# Reports
*.xlsx
*.csv
*.tsv

# Windows
Thumbs.db
Desktop.ini